/* Estilo para a tabela */
table {
    border-collapse: collapse;
    margin: 30px auto; /* Centraliza a tabela horizontalmente */
    width: 70%; /* Faz a tabela ocupar 90% da largura do container */
    max-width: 1000px; /* Limita a largura máxima da tabela */
    font-family: Arial, sans-serif; /* Define a fonte da tabela */
}

/* Estilo para células da tabela */
th, td {
    border: 1px solid black;
    padding: 20px 20px; /* Aumenta o padding para melhor legibilidade */
    text-align: left;
    font-size: 14px; /* Define um tamanho de fonte base */
}

/* Estilo para cabeçalho da tabela */
th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
    font-weight: bold;
    text-transform: uppercase; /* Transforma o texto do cabeçalho em maiúsculas */
}

/* Estilo para linhas ímpares */
tr:nth-child(odd) {
    background-color:rgb(184, 187, 192) /* Cor de fundo alternada para linhas ímpares */
}

/* Estilo para linhas pares */
tr:nth-child(even) {
    background-color: #d3cece; /* Cor de fundo para linhas pares */
}

